:host {
    .top-button {
        top: 0;
        width: 100%;
        height: 60px;
        padding: 10px;
        border-radius: 0;
        position: absolute;
        background-color: black;
    }

    .clickable {
        cursor: pointer;
    }

    .list {
        height: calc(100vh - 60px);
        display: block;
        padding: 10px;
        padding-top: 0;
        margin-top: 60px;
        background-color: rgb(22, 22, 22);
        overflow: auto;
    }


    .mat-list-item-content {
        width: 100%;
        padding: 0;
    }
}